// Bootstrap overrides
//
// Copy mixins from `mixins` folder to this file to override default mixins
// without modifying source files.


// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $active-background: darken($background, 7.5%), $active-border: darken($border, 10%)) {
  color: color-yiq($background);
  background-color: $background;
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover {
    color: color-yiq($background);
    background-color: $active-background;
    border-color: $active-border;
  }


  

  &:focus,
  &.focus {
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $border;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    background-color: $active-background;
    background-image: none; // Remove the gradient for the pressed/active state
    border-color: $active-border;
    @include box-shadow($btn-active-box-shadow);
  }
}






@mixin button-outline-variant($color, $color-hover: #fff) {
  $hover-background: lighten($color, 35%);

  font-weight: 400;
  color: $black;
  background-image: none;
  background-color: #fff;
  border-color: lighten($color, 25%);

  @include hover {
    color: $black;
    background-color: $hover-background;
    border-color: $color;
  }

  &:focus,
  &.focus {
    //box-shadow: 0 0 0 2px rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $gray;
    border-color: $gray-lighter;
    background-color: $white;
  }

  &.active,
  .show > &.dropdown-toggle {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }
}

@mixin form-control-focus() {
  &:hover{
    border-color: $black;
  }
  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: none;
    @include box-shadow($input-focus-box-shadow);
  }
}


@mixin alert-variant($background, $border, $color) {
  color: #fff;
  background-color: $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
